.logo {
    width: 230px;
    height: 80px;
    margin: 0 auto;
}

.header nav {
    background-color: black;
    text-align: center;
    line-height: 40px;
}

.header nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 15px;
    font-size: 20px;
}

.header nav a:hover {
    background-color: lightslategray;
}